<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="geopose10-${version}" verbose="0" configfailurepolicy="continue">
  <parameter name="iut"  value=""/>
  <parameter name="ics"  value=""/>

  <listeners>
    <listener class-name="org.opengis.cite.geopose10.TestRunListener" />
    <listener class-name="org.opengis.cite.geopose10.SuiteFixtureListener" />
    <listener class-name="org.opengis.cite.geopose10.TestFailureListener" />
  </listeners>

  <test name="Basic YPR">
    <classes>
      <class name="org.opengis.cite.geopose10.encodings.json.BasicYPR" />
    </classes>
  </test>
  <test name="Basic Quaternion">
    <classes>
      <class name="org.opengis.cite.geopose10.encodings.json.BasicQuaternion" />
    </classes>
  </test>
  <test name="Advanced">
    <classes>
      <class name="org.opengis.cite.geopose10.encodings.json.Advanced" />
    </classes>
  </test>  
  <test name="Chain">
    <classes>
      <class name="org.opengis.cite.geopose10.encodings.json.Chain" />
    </classes>
  </test>   
  <test name="Graph">
    <classes>
      <class name="org.opengis.cite.geopose10.encodings.json.Graph" />
    </classes>
  </test>    
  <test name="Series Regular">
    <classes>
      <class name="org.opengis.cite.geopose10.encodings.json.SeriesRegular" />
    </classes>
  </test>   
  <test name="Stream Element">
    <classes>
      <class name="org.opengis.cite.geopose10.encodings.json.StreamElement" />
    </classes>
  </test>    
  <test name="Stream Header">
  <classes>
    <class name="org.opengis.cite.geopose10.encodings.json.StreamHeader" />
  </classes>
</test>   
</suite>
